.container {
  position: fixed;
  z-index: 90;
  top:7rem;
  left: 30%;
  border: 5px solid blue;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 2rem 0.5rem;
  margin-left: -10rem;
  color: blue;
  background-color:white;
  animation: 100ms linear 0s 1 slideModalIn;
}

.container p {
    margin: 1rem 1rem;
}

.container button {
  font: inherit;
  color: rgb(0, 157, 255);
  background-color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  
}



.container button:hover,
.container button:active {
  background-color: rgb(0, 157, 255);
  color: white;
}

@keyframes slideModalIn {
    0% {
        transform: translateY(-10%);
        opacity:20%
    }
    100% {
        transform: translateY(0);
        opacity:100%
    }
}
